/* Image Styles */
#displayImage {
    margin-top: 20px;
    border-radius: 8px; /* Rounded corners for image */
    max-width: 100%; /* Make image responsive */
    height: auto;
    display: block; /* Important for centering */
    margin: 20px auto; /* Centers horizontally and adds top margin */
}

#loadingMessage {
    margin-top: 10px;
}

/* Loading and Error Messages */
#errorMessage {
    margin-top: 10px;
}

/* Responsive Design (adjust as needed) */
@media (max-width: 400px) {
    form {
        width: 90%; /* Adjust form width for smaller screens */
    }
}

/* Center the reCAPTCHA widget */
.g-recaptcha {
    display: block;
    margin: 0 auto 12px;
    width: fit-content;
    text-align: center;
}
