@media (min-width: 800px) {
    .container {
        width: 50vw;
        min-width: 750px;
        margin: auto;
        padding-top: 30px;
        padding-bottom: 30px;
        margin-top: 30px;
    }
}
@media (max-width: 800px) {
    .container {
        width: 90vw;
        margin: auto;
        padding-top: 30px;
        padding-bottom: 30px;
        margin-top: 30px;
    }
}
