<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <!--Style Sheets-->
        <link
            rel="stylesheet"
            href="{{ url_for('static', filename='css/main.css') }}"
        />
        <link
            rel="stylesheet"
            href="{{ url_for('static', filename='css/components/navbar.css') }}"
        />
        <link
            rel="stylesheet"
            href="{{ url_for('static', filename='css/components/box.css') }}"
        />
        <!--Fonts-->
        <link rel="preconnect" href="https://fonts.googleapis.com" />
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
        <link
            href="https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100..900;1,100..900&display=swap"
            rel="stylesheet"
        />
        <!--Fontawesome-->
        <script
            src="https://kit.fontawesome.com/9bcf702876.js"
            crossorigin="anonymous"
        ></script>
        {% block head %} {% endblock %}
        <title>Auranate</title>
    </head>
    <body style="min-height: 100vh; display: flex; flex-direction: column">
        <div style="flex: 1">
            <div class="container">
                <div class="navbar">
                    <button class="menu-toggle" onclick="toggleMenu()">
                        <i class="fa-solid fa-bars"></i>
                    </button>
                    <button class="close-menu" onclick="toggleMenu()">
                        <i class="fa-solid fa-times"></i>
                    </button>
                    <ul>
                        <li><a href="/">Home</a></li>
                        <li><a href="signature">SignatureGen</a></li>
                        <li><a href="webgen">WebsiteGen</a></li>
                        <li><a href="linkedingen">LinkedinGen</a></li>
                        <li><a href="emailgen">EmailGen</a></li>
                        <li class="last">
                            <a href="https://dundeezhang.com" target="_blank"
                                >Portfolio
                                <i
                                    class="fa-solid fa-arrow-up-right-from-square"
                                ></i
                            ></a>
                        </li>
                    </ul>
                </div>

                <script src="{{ url_for('static', filename='scripts/navbar.js') }}"></script>
                {% block body %}{% endblock %}
            </div>
        </div>
        <footer>
            <div>
                <p class="footer">
                    <a href="https://dhz.app" target="_blank" class="footer"
                        >dhz.app</a
                    >
                    |
                    <a
                        href="https://dundeezhang.com"
                        target="_blank"
                        class="footer"
                        >dundeezhang.com</a
                    >
                    | With love, Dundee Zhang 2025
                </p>
            </div>
        </footer>
        <script>
            function toggleMenu() {
                const navMenu = document.querySelector(".navbar ul");
                navMenu.classList.toggle("show");
            }
        </script>
    </body>
</html>
