<!DOCTYPE html>

{% extends 'base.html' %} {% block head %}
<link
    rel="stylesheet"
    href="{{ url_for('static', filename='css/email.css') }}"
/>
{% endblock %} {% block body %}

<h1>Email Generator</h1>

<p>
    This tool will generate an email for you based on the requirements you need.
    Formal, aggressive, or casual; it can do what you need. No more worrying or
    overthinking about your emails, just enter in the details and you're all
    set!
</p>

<div id="generated-post-container">
    {% if result %}
    <h1>Generated Email:</h1>
    <p>Note that this is generated in plain text.</p>
    <div id="generated-post">{{ result|safe }}</div>

    <button id="copy-button">Copy Email</button>
    {% endif %}
</div>

<div id="form-container">
    <form method="POST" id="email-form">
        <label for="name">Your Name:</label>
        <input type="text" id="name" name="name" required />

        <label for="tone">Tone:</label>
        <select id="tone" name="tone" required>
            <option value="formal">Formal</option>
            <option value="informal">Informal</option>
            <option value="friendly">Friendly</option>
            <option value="Aggressive">Aggressive</option>
        </select>

        <label for="old-email">Email you are replying to:</label>
        <textarea id="old-email" name="old-email" rows="4" required></textarea>

        <div class="button">
            <button type="submit" id="generate-button">Generate Email</button>
        </div>
    </form>
</div>

<div id="generating-message" style="display: none">
    <span class="glow">Generating... Please wait.</span>
</div>

<script src="{{ url_for('static', filename='scripts/email.js') }}"></script>

{% endblock %}
