{% extends 'base.html' %}

<!--Head-->

{% block head %}
<link
    rel="stylesheet"
    href="{{ url_for('static', filename='css/signature.css') }}"
/>
{% endblock %}

<!--Body-->

{% block body %}
<h1>Signature Generator</h1>

<p>
    Have you ever been stuck on a signature you don't like? Well, SignatureGen
    can help you get ideas or create your new signature! Just enter your name
    and wait for the result to come out.
</p>

<div class="main-content">
    <div class="">
        <h3>Enter Name to Update Image</h3>
        <form id="updateForm">
            <input
                type="text"
                id="nameInput"
                name="name"
                placeholder="Enter name"
                required
            />
            <button type="submit">Generate Signature</button>
        </form>
        <img id="displayImage" src="{{ image_url }}" alt="Image" width="300" />
        <p id="loadingMessage" style="display: none">
            <span class="glow">Generating Signature...</span>
        </p>

        <p id="errorMessage" style="color: red"></p>
    </div>
</div>

<script src="{{ url_for('static', filename='scripts/signature.js') }}"></script>

{% endblock %}
