<!DOCTYPE html>
{% extends 'base.html' %}

<!--Head-->

{% block head %} {% endblock %}

<!--Body-->
{% block body %}
<main>
    <div class="auth-page_container">
        <div class="login-form-container">
            <div class="login-form">
                <h1>Signature Generator</h1>

                <p>
                    Have you ever been stuck on a signature you don't like?
                    Well, SignatureGen can help you get ideas or create your new
                    signature! Just enter your name and wait for the result to
                    come out.
                </p>
                <p>
                    You have to login to use this feature since it is very
                    expensive to host. This is to disencourage bots from abusing
                    the api and costing me fortunes 😢.
                </p>
                <p>
                    Feel free to email me at
                    <a href="mailto:dundeez124@gmail.com"
                        >dundeez124@gmail.com</a
                    >
                    to delete your account.
                </p>
                <h2>Sign Up</h2>

                <div class="input-group">
                    <input
                        type="email"
                        id="email-input"
                        name="email"
                        placeholder="Email"
                        required
                    />
                </div>

                <div class="input-group">
                    <input
                        type="password"
                        id="password-input"
                        name="password"
                        placeholder="Password"
                        required
                    />
                </div>

                <button id="create-account-btn" class="login-btn">
                    Create Account
                </button>
                <div id="email-error-message" class="error-msg"></div>
                <div id="password-error-message" class="error-msg"></div>

                <p style="text-align: center">OR</p>

                <button id="sign-up-with-google-btn" class="google-login-btn">
                    <img
                        src="{{ url_for('static', filename='images/google-icon.png') }}"
                        alt="Google Sign Up"
                        class="google-btn-logo"
                    />
                    Sign up with Google
                </button>
                <div id="google-signin-error-message" class="error-msg"></div>

                <div class="signup-link-container">
                    <p style="text-align: center">
                        Already have an account?
                        <a href="{{ url_for('login') }}">Login</a>
                    </p>
                </div>
                <div class="signup-link-container">
                    <p style="text-align: center">
                        <a href="{{ url_for('reset_password') }}"
                            >Forgot Password?</a
                        >
                    </p>
                </div>
            </div>
        </div>
    </div>
</main>

<script
    src="{{ url_for('static', filename='scripts/firebase/signup.js') }}"
    type="module"
></script>
<script
    src="{{ url_for('static', filename='scripts/firebase/google-auth.js') }}"
    type="module"
></script>

{% endblock %}
