{% extends 'base.html' %}

<!-- Head -->

{% block head %}
<link
    rel="stylesheet"
    href="{{ url_for('static', filename='css/signature.css') }}"
/>
<!-- Add reCAPTCHA script -->
<script src="https://www.google.com/recaptcha/api.js" async defer></script>
{% endblock %}

<!-- Body -->

{% block body %}
<h1>Signature Generator</h1>

<p>
    Have you ever been stuck on a signature you don't like? Well, SignatureGen
    can help you get ideas or create your new signature! Just enter your name
    and wait for the result to come out.
</p>

<p>
    Also please do not spam generate signatures since the API is
    <em>very</em> expensive. Let others also enjoy this as well! Thank you! Feel
    free to logout below when you are done.
</p>

<p><a href="logout">Logout</a></p>

<div class="main-content">
    <div class="">
        <h3>Enter Name to Update Image</h3>
        <form id="updateForm" action="/generate_signature" method="POST">
            <input
                type="text"
                id="nameInput"
                name="name"
                placeholder="Enter name"
                required
            />

            <!-- Add reCAPTCHA widget -->
            <div
                class="g-recaptcha"
                data-sitekey="6Lcrb9kqAAAAALRIgchhsONdVeMWtoLfYHgddy0K"
            ></div>

            <button type="submit">Generate Signature</button>
        </form>
        <p id="loadingMessage" style="display: none">
            <span class="glow">Generating Signature...</span>
        </p>

        <p id="errorMessage" style="color: red"></p>
        <img id="displayImage" src="{{ image_url }}" alt="Image" width="300" />
    </div>
</div>

<script src="{{ url_for('static', filename='scripts/signature.js') }}"></script>

{% endblock %}
