{% extends 'base.html' %}

<!--Head-->

{% block head %}
<link
    rel="stylesheet"
    href="{{ url_for('static', filename='css/website.css') }}"
/>
{% endblock %}

<!--Body-->

{% block body %}

<h1>Website Generator (Auranator)</h1>

<p>
    Have you ever looked at a professors website and went: "this is aura." Well,
    that can be you too. With minimal setup, simply copy and paste your resume,
    and let Auranator do the work for you. It will generate a 100% aura website
    with zero CSS so that you can do all the customizing you want!
</p>

<div class="content">
    <div style="text-align: center">
        <form action="/webgen" method="POST">
            <textarea
                name="content"
                id="content index-box"
                rows="6"
                required
            ></textarea>
            <div class="button">
                <button type="submit" id="submit-button">Submit Resume</button>
            </div>
        </form>
    </div>
    {% if page %}
    <h1>Generated Website:</h1>
    <button id="copy-button">Copy Code</button>
    <button id="download-button">Download HTML</button>
    <div id="generated-post" style="display: none">{{ page }}</div>
    <pre id="generated-code">{{ page }}</pre>

    <script src="{{ url_for('static', filename='scripts/webgen.js') }}"></script>
    {% endif %}
</div>

{% endblock %}
